# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Usuarios\Nico\Desktop\UTN\Técnicas Avanzadas De Programación\Ruby\grupo4-2020-2c\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
